* {
background-color: #e9f0ea;
}

body {
text-align: center;
}

header {
position: absolute;
top: 0;
right: 0;
padding: 10px 15px;
}

.header-box {
display: flex;
flex-direction: row-reverse;
width: 390px;
}

.sign-in-txt {
margin-right: 8px;
display: inline;
}

.sign-in-btn {

}

#member {
margin-right: 8px;
display: inline;
}

.icons-trey {
text-align: center;
}

.form-box{
background-color: #ffffff;
border: 2px solid #e2dede;
}

main {
}

footer {
}

.above-form-list {
list-style: none;
display: block;
}

.footer-list {
list-style: none;
display: block;
}

ul li {
display: inline;
}

a {
text-decoration: none;
color: #0000ff;
}